<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{{ request.user.get_path }}" class="img-circle elevation-2" style="width: 50px; height: 50px;"/>
    </div>
    <div class="info">
        <a href="{% url 'core:user_profile' request.user.pk %}" class="d-block text-white">{{ request.user.get_full_name }}</a>
        <p class="text-white">{{ request.user.email }}</p>
    </div>
</div>
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'core:albania_map' %}" class="nav-link {% if request.path == '/albania-map/' %}active{% endif %}">
                    <i class="nav-icon far fa-map"></i>
                    <p>
                        Map
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'affected:event_list' %}" class="nav-link {% if request.path == '/affected/events/' %}active{% endif %}">
                    <i class="nav-icon far fa-calendar-check"></i>
                    <p>
                        Event
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'affected:relief_request_list' %}" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Relief Request
                    </p>
                </a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-columns"></i>
                  <p>
                    Kanban Board
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'core:user_list' %}?q=org" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Organization</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'core:user_list' %}?q=volunteers" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Volunteers</p>
                        </a>
                    </li>
                </ul>
            </li>
            {% elif not request.user.user_type == 'affected' %}
            <li class="nav-item">
                <a href="{% url 'task:task_list' request.user.pk %}" class="nav-link">
                    <i class="nav-icon fas fa-columns"></i>
                    <p>
                        Kanban Board
                    </p>
                </a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-dollar-sign"></i>
                  <p>
                    Donation
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'donate:donation_page' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Money</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'donate:goods_donation_list' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Goods</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="nav-icon far fa-image"></i>
                    <p>
                        Gallery
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->