{% extends "base/base.html" %}
{% load static checklist_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="m-0">{{ user.user_type|title }} Task</h1>
        </div>
    </div>
    <div class="row">
        <!-- Todo Column -->
        <div class="col-md-4">
            <div class="card card-row card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Todo</h3>
                </div>
                <div class="card-body" id="todoTasks">
                    {% for task in tasks_by_status.open %}
                        {% include "task/partials/task_card.html" with task=task status="open" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- In Progress Column -->
        <div class="col-md-4">
            <div class="card card-row card-primary">
                <div class="card-header">
                    <h3 class="card-title">In Progress</h3>
                </div>
                <div class="card-body" id="inProgressTasks">
                    {% for task in tasks_by_status.in_progress %}
                        {% include "task/partials/task_card.html" with task=task status="in_progress" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Done Column -->
        <div class="col-md-4">
            <div class="card card-row card-success">
                <div class="card-header">
                    <h3 class="card-title">Done</h3>
                </div>
                <div class="card-body" id="doneTasks">
                    {% for task in tasks_by_status.closed %}
                        {% include "task/partials/task_card.html" with task=task status="closed" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include JavaScript -->
{% include "task/partials/task_js.html" %}
{% endblock %}