{% extends "base/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="m-0">{{ user.user_type|title }} Task</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            
            <div class="card card-row card-secondary">
                <div class="card-header">
                    <h3 class="card-title">
                        Todo
                    </h3>
                </div>
                <div class="card-body">
                    {% for open_task in open_tasks %}
                    <div class="card {{ open_task.get_priority_color }} card-outline">
                        <div class="card-header">
                            <h5 class="card-title">{{ open_task.title }}</h5>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-link">#{{ open_task.ticket_id }}</a>
                                <a href="#" class="btn btn-tool" data-bs-toggle="modal" data-bs-target="#taskDetails{{ open_task.id }}">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="taskDetails{{ open_task.id }}" tabindex="-1" aria-labelledby="taskDetails{{ open_task.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="taskDetails{{ open_task.id }}Label">{{ open_task.title }}</h5>
                                        </div>
                                        <div class="modal-body">
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>    

                            </div>
                        </div>
                        <div class="card-body">
                            {% if open_task.due_date %}
                            <p>
                                <strong>Due date:</strong> {{ open_task.due_date }}
                            </p>
                            {% endif %}
                            {{ open_task.description|safe }}
                        </div>
                    </div>
                     
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-row card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        In Progress
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Create first milestone</h5>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-link">#5</a>
                                <a href="#" class="btn btn-tool">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-row card-default">
                <div class="card-header bg-info">
                    <h3 class="card-title">
                        Done
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-light card-outline">
                        <div class="card-header">
                            <h5 class="card-title">Update Readme</h5>
                            <div class="card-tools">
                                <a href="#" class="btn btn-tool btn-link">#2</a>
                                <a href="#" class="btn btn-tool">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                Aenean commodo ligula eget dolor. Aenean massa.
                                Cum sociis natoque penatibus et magnis dis parturient montes,
                                nascetur ridiculus mus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}