{% extends "base/base.html" %}

{% load static crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 card">
            <div class="card-header">
                <h4>Donate Goods</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-sm btn-success">Donate</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}