{% extends "base/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>15</h3>
                    <p>Organizations</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-home"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-secondary">
                <div class="inner">
                    <h3>53</h3>

                    <p>Volunteers</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>$44</h3>

                    <p>Donors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-heart"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>65</h3>

                    <p>Affected Individuals</p>
                </div>
                <div class="icon">
                    <i class="ion ion-alert-circled"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <dev class="col-lg-7">
            <!-- Map card -->
            <div class="card">
                <div class="card-body p-0">
                    <div id="map"></div>
                </div>
            </div>
            <!-- /.card -->
        </dev>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <dev class="col-lg-5">

            <!-- TO DO List -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i>
                        Volunteers Task List
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul class="todo-list" data-widget="todo-list">
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo7" id="todoCheck7">
                                <label for="todoCheck7"></label>
                            </div>
                            <span class="text">Distribute food and water to flood victims</span>
                            <small class="badge badge-danger"><i class="far fa-clock"></i>
                                Urgent</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo8" id="todoCheck8">
                                <label for="todoCheck8"></label>
                            </div>
                            <span class="text">Help evacuate stranded residents</span>
                            <small class="badge badge-warning"><i class="far fa-clock"></i> 2
                                hours</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo9" id="todoCheck9">
                                <label for="todoCheck9"></label>
                            </div>
                            <span class="text">Assist in setting up temporary shelters</span>
                            <small class="badge badge-info"><i class="far fa-clock"></i> 4 hours</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo10" id="todoCheck10">
                                <label for="todoCheck10"></label>
                            </div>
                            <span class="text">Distribute blankets and clothes</span>
                            <small class="badge badge-primary"><i class="far fa-clock"></i> 6
                                hours</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo11" id="todoCheck11">
                                <label for="todoCheck11"></label>
                            </div>
                            <span class="text">Provide first aid to injured people</span>
                            <small class="badge badge-success"><i class="far fa-clock"></i> 1
                                day</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo12" id="todoCheck12">
                                <label for="todoCheck12"></label>
                            </div>
                            <span class="text">Transport people to safer areas</span>
                            <small class="badge badge-warning"><i class="far fa-clock"></i> 3
                                hours</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo13" id="todoCheck13">
                                <label for="todoCheck13"></label>
                            </div>
                            <span class="text">Clean and sanitize affected areas</span>
                            <small class="badge badge-secondary"><i class="far fa-clock"></i> 2
                                days</small>
                        </li>
                        <li>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo14" id="todoCheck14">
                                <label for="todoCheck14"></label>
                            </div>
                            <span class="text">Coordinate with local authorities</span>
                            <small class="badge badge-info"><i class="far fa-clock"></i> 1 day</small>
                        </li>
                    </ul>
                </div>
            </div>

        </dev>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}