{% load checklist_tags %}

<div class="card {{ task.get_priority_color }} card-outline task-card" draggable="true" data-task-id="{{ task.id }}">
    <div class="card-header">
        <h5 class="card-title">
            <a href="{% url 'task:task_detail' user.pk task.id %}">
                {{ task.title }}
            </a>
        </h5>
        <div class="card-tools">
            <span class="badge badge-light">#{{ task.ticket_id }}</span>
        </div>
    </div>
    <div class="card-body">
        {% if task.due_date %}
        <p>
            <strong>Due date:</strong> {{ task.due_date }}
        </p>
        {% endif %}
        {% for tag in task.tags.all %}
            <span class="badge badge-info">{{ tag }}</span>
        {% endfor %}
    </div>
</div>